@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Asap:400,400i,500,500i,600,600i,700&display=swap');
@import url('https://fonts.googleapis.com/earlyaccess/notosansjapanese.css');
body{
font-family:'Noto Sans Japanese';
font-weight:500;
font-size:100%;
}
@media screen and (max-width:768px) {
body{font-size:90%;}
}
@media screen and (min-width:1442px) {
body{font-size:120%;}
}
#contents{margin:40px 0 3em;}
@media screen and (max-width:768px) {
#contents{margin:15px 0 2em;}
}
a:hover{color:#7ca400;}
a[href^="tel:"]{pointer-events: none;}
i{margin-right:0.25em;}
.blue{color:#007EFF;}
.y_green{color:#7ca400;}
.green{color:#00A000;}
.emerald{color:#41BFB1;}
.demerald{color:#00A98A;}
.gold{color:#D3AB39;}
.pink{color:#FF3B7E;}
.pink2{color:#ec7ac0;}
.orange{color:#FF6600;}
.tgreen{color:#29a706;}
.dgreen{color:#1f8b00;}
.dblue{color:#272ed1;}
.dred{color:#a10000;}
.dgold{color:#7E4C00;}
.yellow{color:#ffff00;}
.dblue2{color:#294C92;}

.s_pink{color:#FF4F61;color:#fff;display: inline-block;padding: 0.4em;line-height: 1;}
.n_blue{background:#007EFF;color:#fff;display: inline-block;padding: 0.4em;line-height: 1;}
.n_orange{background:#FF6600;color:#fff;display: inline-block;padding: 0.4em;line-height: 1;}
.n_red{background:#FF4F61;color:#fff;display: inline-block;padding: 0.4em;line-height: 1;}
.n_green{background:#41BFB1;color:#fff;display: inline-block;padding: 0.4em;line-height: 1;}

.sp{display:none;}
.pc{display:inline;}
.pc2{display:inline;}
.tablet{display:none;}
.tablet2{display:none;}
@media screen and (max-width:768px) {
.pc2{display:none;}
.tablet{display:inline;}
.tablet2{display:inline;}
}
@media screen and (max-width:480px) {
.sp{display:inline;}
.pc{display:none;}
.tablet2{display:none;}
}

footer{
font-weight:400;
font-size:0.9em;
position:relative;
z-index:2;
}
#f_logo{
text-align:center;
font-family:'Asap';
font-weight:700;
line-height:1;
font-size:1em;
}
#f_logo img{
display:block;
margin:0 auto;
margin-bottom:0.5em;
width:100px;
height:auto;
}
@media screen and (min-width:1442px) {#f_logo img{width:120px;}}
#f_logo span{
display:block;
font-size:4.5em;
}
#f_yngw{
display:flex;
justify-content:space-around;
color:#fff;
background:#7ca400;
width:100%;
margin-top:2em;
}
#f_yngw section{
width:68%;
margin-left:5%;
padding:1.5em 0;
}
#f_yngw h3{
display:flex;
align-items:center;
border-right:2px solid #fff;
white-space: nowrap;
}
#f_yngw h3 img{
width:60px;
height:auto;
margin-right:0.5em;
}
#f_yngw h3 > span{
font-weight:400;
line-height:1;
}
#f_yngw h3 > span span{
display:block;
font-weight:900;
font-size:2em;
margin-top:0.2em;
}
#f_yngw h3 > span span:after{
content:"　";
}
#f_yngw ul{
padding-left:4%;
line-height:2;
white-space: nowrap;
}
#f_yngw div{display:flex;}
#f_yngw p{
padding-top:1em;
font-size:0.9em;
}
#f_yngw > p{
display:flex;
width:34%;
background:url(https://www.yanagawa.ed.jp/img/y55.jpg/img/y1.jpg) center center;
background-size:cover;
}
#f_yngw > p span{
display:flex;
font-size:0;
}
#f_nav1{
background:#000;
padding:0;
font-size:0.8em;
display:block;
}
#f_navlist{
display:flex;
flex-wrap:wrap;
align-items:flex-end;
padding:1em 5%;
border-bottom:1px solid #bbb;
}
#f_navlist li{
line-height:2.5;
margin-right:3em;
color:#fff;
}
#f_navlist li:nth-last-of-type(1){margin-right:2em;}
#f_navlist li a{color:#fff;}
#f_navlist li a:hover{color:#7ca400;}
#f_nav1 a img{
width:2em;
height:auto;
vertical-align:middle;
margin-left:-1em;
margin-top:-0.2em;
}
#f_nav1 a:hover img{margin-left:0;}
#f_navlist a span{
display:block;
width:1em;
height:2.5em;
overflow:hidden;
}
#f_navlist li{position:relative;}
#f_nav1 .arrow:after{
content: '';
width: 6px;
height: 6px;
border: 0px;
border-top: solid 2px #fff;
border-right: solid 2px #fff;
-ms-transform: rotate(45deg);
-webkit-transform: rotate(45deg);
transform: rotate(45deg);
position: absolute;
top:0.9em;
right:-2em;
}
@media screen and (min-width:1442px) {
#f_nav1 .arrow:after{
position: absolute;
top:1.1em;
right:-2em;
}
}
#f_sabnav{
display:block;
line-height:1;
padding:1.5em 5%;
font-size:0.9em;
}
#f_sabnav li{
display:inline;
}
#f_sabnav li a{
margin-right:3.5em;
color:#fff;
white-space:nowrap;
}
#f_sabnav li a:hover{color:#7ca400;}
#f_sabnav li:nth-last-of-type(1) a{margin-right:0;}
#f_nav3{
display:flex;
justify-content:space-between;
padding:1em 2em;
line-height:1;
}
#f_nav3 p{
font-family:'Asap';
font-weight:300;
letter-spacing:0.025em;
font-size:0.9em;
}
#f_nav3 ul{
display:flex;
justify-content:space-between;
font-size:0.9em;
flex-grow:1; 
padding-left:2em;
max-width:700px;
}
#f_nav3 li:nth-last-of-type(1){
font-family:'Asap';
font-weight:900;
position:relative;
margin-left:1em;
display:inline-block;
padding-top:0.1em;
}
#f_nav3 li:nth-last-of-type(1) a::before{
position:absolute;
top:0.15em;
left:-1.2em;
content:"";
display: inline-block;
width: 0;
height: 0;
border-style: solid;
border-width: 0 6px 10.4px 6px;
border-color: transparent transparent #000000 transparent;
}
#f_nav3 li:nth-last-of-type(1) a:hover::before{border-color: transparent transparent #7ca400 transparent;}
@media screen and (max-width:1024px) {
#f_yngw section{width:80%;}
#f_yngw > p{width:20%;}
#f_yngw h3 img{width:45px;}
#f_yngw > p{width:25%;}
#f_yngw section h3{padding-right:2%;}
#f_nav1 ul:nth-of-type(2) li a{margin-right:1.5em;}
#f_nav1 .arrow a::after{
width: 5px;
height: 5px;
border: 0px;
border-top: solid 2px #fff;
border-right: solid 2px #fff;
}
#f_nav1{
padding:0;
font-size:0.7em;
}
#f_navlist{padding:2em 5%;}
#f_sabnav{padding:1.5em 5%;}
#f_nav3{padding:1em;}
#f_nav3 p{font-size:0.8em;}
#f_nav3 ul{
padding-left:1em;
font-size:0.8em;
}
#f_nav3 li:nth-last-of-type(1) {display:none;}
}
@media screen and (max-width:830px) {
#f_yngw > p{display:none;}
}
@media screen and (max-width:768px) {
#f_yngw section{width:100%;}
#f_yngw div{display:block;}
#f_yngw h3{border:none;}
#f_yngw h3{padding-right:0;}
#f_yngw ul{padding-left:0;}
#f_yngw ul,#f_yngw section p{font-size:0.8em;}
#f_logo img{
width:85px;
height:auto;
}
#f_logo{font-size:0.85em;}
footer > div:nth-of-type(2) section ul{
padding-left:0;
line-height:1.7;
margin-top:0.7em;
}
#f_sabnav{line-height:3;}
#f_nav3{
display:block;
padding:1em 5%;
}
#f_nav3 p{
font-size:1em;
letter-spacing:0;
padding-bottom:1em;
}
#f_nav3 ul{
padding-left:0;
display:block;
}
#f_nav3 li{
white-space: nowrap;
line-height:2;
display:inline;
padding-right:1em;
}
}
#f_nav2{
background:#eee;
padding:2em 5%;
line-height:2.5;
font-size:1em;
}
#f_nav2 > ul{
display:flex;
white-space:nowrap;
}
#f_nav2 > ul li{margin-right:5.7%;}
#f_nav2 .parent{font-weight:700;}
#f_nav2 .parent ul{
font-size:0.85em;
font-weight:400;
color:#555;
}
#f_nav2 .parent .parent a{
font-size:1.1em;
}
#f_nav2 .parent .parent > a:hover,
#f_nav2 .parent > a:hover{
cursor:default;
border:none;
}
#f_nav2 .parent > a:hover{color:#000;}
#f_nav2 .parent > ul li a:hover{
border-bottom:1px solid #7ca400;
}
@media screen and (max-width:1024px) {
#f_nav2{font-size:0.9em;}
#f_nav2 > ul li{margin-right:4%;}
}
@media screen and (max-width:768px) {
#f_nav2{display:none;}
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
#f_logo{font-size:1.4em;}
#f_logo img{width:115px;}
#f_logo span{font-size:4em;}
}
/*----modal-----*/
#modal-content{
width:70%;
margin:0;
padding:50px;
background:#fff;
position:fixed;
display:none;
z-index:999999;
text-align:center;
}
#modal-overlay{
display:none;
position:fixed;
top:0;
left:0;
width:100% ;
height:120% ;
background-color:rgba( 0,0,0, 0.75 );
z-index:9999;
}
.button-link:hover{cursor:pointer;}
#modal-content h4{
font-family:'Asap';
font-weight:500;
margin-bottom:1.5em;
}
#modal-content ul{
display:flex;
justify-content:space-between;
font-family:'Asap';
font-weight:500;
font-size:0.8em;
}
#modal-content li{width:48%;}
#modal-content li img{
width:100%;
height:auto;
margin-bottom:0.5em;
}
#close{
position:absolute;
top:1em;
right:1em;
font-family:'Asap';
font-weight:500;
font-size:0.8em;
}
@media screen and (max-width:768px) {
#modal-content{padding:50px 15px 30px;}
#modal-content ul{
display: flex;
flex-wrap: wrap;
}
#modal-content li{
width:85%;
margin:0 auto 2em;
}
#modal-content li:nth-of-type(2){
margin:0 auto;
}
}